* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    width: auto;
    padding-top: auto; /* This makes the div a square */
    border: 1px solid black; /* Added a border for better visibility */
    flex: 1;
}

#container {
    display: flex;
    max-width: 30%;
    aspect-ratio: 1 / 1;
    flex-wrap: wrap;
    flex-direction: row;
}